<div class="flex flex-col flex-auto min-w-0">

    <mat-drawer-container class="flex-auto shadow bg-card">
        <mat-drawer class="w-72 dark:bg-gray-900" [autoFocus]="false" [mode]="'side'" [opened]="true">
            <!-- Panel links -->
            <div class="flex flex-col divide-y border-t border-b">
                @for(panel of panels; track panel.id)
                {
                    <div class="flex px-8 py-5 cursor-pointer"
                        [ngClass]="{'hover:bg-gray-100': !selectedPanel || selectedPanel !== panel.id,
                                'bg-gray-100': selectedPanel && selectedPanel === panel.id}"
                        (click)="goToPanel(panel.id)">
                        <mat-icon
                            [ngClass]="{'text-hint': !selectedPanel || selectedPanel !== panel.id,
                                        'text-green-4': selectedPanel && selectedPanel === panel.id}"
                            [svgIcon]="panel.icon"></mat-icon>
                        <div class="ml-3">
                            <div class="font-medium leading-6"
                                [ngClass]="{'text-green-4': selectedPanel && selectedPanel === panel.id}">
                                {{ panel.title | transloco }}
                            </div>
                        </div>
                    </div>
                }
            </div>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col">
            <div class="flex-auto p-6 sm:p-10">                
                
                @switch(selectedPanel)
                {
                    @case ('account')
                    {
                        <app-update-profile></app-update-profile>
                    }
                    @case ('update-password')
                    {
                        <app-reset-password></app-reset-password>
                    }
                }
            </div>

        </mat-drawer-content>
    </mat-drawer-container>    
</div>
