$bpay-theme: (bpay:
(selector: ".theme-bpay", 
primary: (50 : #018CB9,
    100 : #018CB9,
    200 : #018CB9,
    300 : #018CB9,
    400 : #018CB9,
    500 : #018CB9,
    600 : #018CB9,
    700 : #018CB9,
    800 : #018CB9,
    900 : #018CB9,
	950 : #018CB9,
DEFAULT: #018CB9, 
contrast: (
	50 : #000000,
	100 : #000000,
	200 : #000000,
	300 : #000000,
	400 : #ffffff,
	500 : #ffffff,
	600 : #ffffff,
	700 : #ffffff,
	800 : #ffffff,
	900 : #ffffff,
	950 : #ffffff,
)),accent: ( 50 : #fdf4ea,
100 : #f9e5cb,
200 : #f6d3a9,
300 : #f2c186,
400 : #efb46c,
500 : #eca752,
600 : #ea9f4b,
700 : #e79641,
800 : #e48c38,
900 : #df7c28,
DEFAULT: #eca752, 
contrast: (50: #020617, 100: #020617, 200: #020617, 300: #020617, 400: #020617, 500: #FFFFFF, 600: #FFFFFF, 700: #FFFFFF, 800: #FFFFFF, 900: #FFFFFF, 950: #FFFFFF, DEFAULT: #FFFFFF)), 
warn: (50: #fef2f2, 100: #fee2e2, 200: #fecaca, 300: #fca5a5, 400: #f87171, 500: #ef4444, 600: #dc2626, 700: #b91c1c, 800: #991b1b, 900: #7f1d1d, 950: #450a0a, DEFAULT: #ef4444, 
contrast: (50: #450a0a, 100: #450a0a, 200: #450a0a, 300: #450a0a, 400: #450a0a, 500: #fef2f2, 600: #FFFFFF, 700: #FFFFFF, 800: #FFFFFF, 900: #FFFFFF, 950: #FFFFFF, DEFAULT: #FFFFFF))),
);