<div
  id="login"
  class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
  <div
    class="md:flex md:justify-end w-full bg-bpay sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-12 md:pt-20 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none"
  >
    <div class="flex flex-col w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <!-- Logo -->
      <div class="w-50 self-center">
        <img src="assets/images/logo/logo devel.png" />
      </div>

      <!-- Title -->
      @if(!invalidToken() && !passwordUpdated()) {
      <div class="mt-12 text-3xl flex justify-center">
        {{ "RESET_PASSWORD_FORM.TITLE" | transloco }}
      </div>
            <!-- Alert -->
            <fuse-alert
            class="mt-8"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            [@shake]="alert.type === 'error'"
          >
            {{ alert.message }}
          </fuse-alert>
      <!-- Form -->
      <app-dinamic-form
        class="mt-8"
        [inForm]="form()"
        [stateInForm]="stateForm()"
        (returnData)="resetPassword($event)"
      ></app-dinamic-form>
      }
      <!-- INVALID TOKEN MESSAGE -->
      @if(invalidToken()){
      <div class="mt-12 text-3xl flex justify-center">
        {{ "RESET_PASSWORD_FORM.INVALID_TOKEN" | transloco }}
      </div>

      <p class="mt-4">
        {{ "RESET_PASSWORD_FORM.INVALID_TOKEN_DESCRIPTION" | transloco }}
        <a
          class="cursor-pointer text-accent-700"
          [routerLink]="['/forgot-password']"
        >
          {{ "RESET_PASSWORD_FORM.FORGOT_PASSWORD" | transloco }}
        </a>
        {{ "RESET_PASSWORD_FORM.LOGIN_DESCRIPTION" | transloco }}
        <a
          class="cursor-pointer font-semibold text-primary-600"
          [routerLink]="['/sign-in']"
        >
          {{ "RESET_PASSWORD_FORM.LOGIN" | transloco }}
        </a>
      </p>

      }

      <!-- PASSWORD UPDATED MESSAGE -->
      @if(passwordUpdated()){
      <div class="mt-12 text-3xl flex justify-center">
        {{ "RESET_PASSWORD_FORM.PASSWORD_UPDATED" | transloco }}
      </div>

      <p class="my-4">
        {{ "RESET_PASSWORD_FORM.PASSWORD_UPDATED_DESCRIPTION" | transloco }}
      </p>

    <!-- Form footer -->
    <div class="mt-8 text-md font-medium text-secondary">
        <span>{{ "FORGOT_PASSWORD.BACK" | transloco }}</span>
        <a
          class="ml-1 text-primary-500 hover:underline"
          [routerLink]="['/sign-in']"
          >{{ "FORGOT_PASSWORD.SIGN_IN" | transloco }}
        </a>
      </div>
      }
    </div>
  </div>
  <div
    id="login-intro"
    class="relative hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden dark:border-l"
  ></div>
</div>
